.node {
	cursor: pointer;
}

.node circle {
	stroke: #999999;
	stroke-width: 1px;
	fill: #99cccc;
	cursor: inherit;
}

.nodeHighlighted circle {
	fill: #ffcc00;
}

.nodeHighlighted text {
	font-weight: bold;
}

.srcNodeHighlighted circle {
	fill: #6666cc;
}

.targetNodeHighlighted circle {
	fill: #cc6666;
}

line {
	stroke: #eeeeee;
	stroke-width: 1px;
}

.edge {
	stroke-width: 0.6px;
	stroke: #999999;
}

.srcEdgeHighlighted {
	stroke: #0000aa;
}

.targetEdgeHighlighted {
	stroke: #aa0000;
}

.rawNode circle {
	fill: #cccc00;
}

.circle {
	float: left;
	height: 8px;
	width: 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #999999;
	margin-top: 3px;
	margin-right: 4px !important;
}

.circleRaw {
	background-color: #CCCC00;
}

.circleDerived {
	background-color: #99cccc;
}