.node circle {
	stroke: #999999;
	stroke-width: 1px;
	fill: #99cccc;
	cursor: inherit;
}

.nodeHighlighted circle {
	fill: #ffcc00;
}

.nodeHighlighted text {
	font-weight: bold;
}

.srcNodeHighlighted circle {
	fill: #6666cc;
}

.targetNodeHighlighted circle {
	fill: #cc6666;
}

line {
	stroke: #eaeaea;
	stroke-width: 1px;
}

.edge {
	stroke-width: 0.6px;
	stroke: #999999;
}

.srcEdgeHighlighted {
	stroke: #0000aa;
}

.targetEdgeHighlighted {
	stroke: #aa0000;
}
